<a href="https://colab.research.google.com/github/olatundeopeyemi0001/HamoyeDS_internship/blob/master/sample_data_stage2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import numpy as np
from tensorflow import keras
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

importing the data via a URL link addres

In [2]:
#importing Url link to read dataset into dataframe
sample_data=pd.read_excel('https://archive.ics.uci.edu/ml/machine-learning-databases/00242/ENB2012_data.xlsx')

In [3]:
sample_data.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [4]:
print('Data file dimension: ', sample_data.shape)

Data file dimension:  (768, 10)

In [5]:
#To check if any row is duplicated (Data cleaning procedure)
print('any rows duplicated? ', sample_data.duplicated().any())

any rows duplicated?  False

In [6]:
#rename columns
column_names = {'X1':'Relative_Compactness', 'X2': 'Surface_Area',
'X3': 'Wall_Area', 'X4': 'Roof_Area', 'X5': 'Overall_Height',
'X6': 'Orientation', 'X7': 'Glazing_Area',
'X8': 'Glazing_Area_Distribution',
'Y1': 'Heating_Load', 'Y2': 'Cooling_Load'}

In [8]:
sample_data = sample_data.rename(columns=column_names)

In [9]:
sample_data.head()

   Relative_Compactness  Surface_Area  ...  Heating_Load  Cooling_Load
0                  0.98         514.5  ...         15.55         21.33
1                  0.98         514.5  ...         15.55         21.33
2                  0.98         514.5  ...         15.55         21.33
3                  0.98         514.5  ...         15.55         21.33
4                  0.90         563.5  ...         20.84         28.28

[5 rows x 10 columns]

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
simple_linear_reg_df = sample_data[[Relative_Compactness, 'Cooling_Load']].sample(15, random_state=2)

NameError: ignored

In [19]:
ip = get_ipython()
ip.showtraceback?

In [20]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.showtraceback??